.container {
    height: 100vh;
    width: auto;

    display: flex;
}

.left {
    background-image: url("images/plant.jpg");
    width: auto;


    flex-grow: 1;
    flex-shrink: 1;
}

.right {
    flex-grow: 2;
    flex-shrink: 2;
}